<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/Head.ejs') %> 
	</head>
	<body>
		<div id="root">
			<main>
				<%- include('partials/CreateRoomForm.ejs') %>
			</main>
		</div>
	</body>
</html>