<div class="rooms-list-container">
	<section class="rooms-list">
		<span class="form-title"><h4>Create a room</h4></span>
		<form id="create-room-form" action="/create-room" method="POST">
			<label>
				Room name
				<input id="room" type="text" name="name" required>
			</label>
			<button class="btn" type="submit">Create room</button>
		</form>
	</section>
</div>