<div class="piano">
	<div data-note="C" class="key white"></div>
    <div data-note="Db" class="key black"></div>
    <div data-note="D" class="key white"></div>
    <div data-note="Eb" class="key black"></div>
    <div data-note="E" class="key white"></div>
    <div data-note="F" class="key white"></div>
    <div data-note="Gb" class="key black"></div>
    <div data-note="G" class="key white"></div>
    <div data-note="Ab" class="key black"></div>
    <div data-note="A" class="key white"></div>
    <div data-note="Bb" class="key black"></div>
    <div data-note="B" class="key white"></div>
</div>

<audio id="C" src="/samples/piano/C.mp3"></audio>
<audio id="Db" src="/samples/piano/Db.mp3"></audio>
<audio id="D" src="/samples/piano/D.mp3"></audio>
<audio id="Eb" src="/samples/piano/Eb.mp3"></audio>
<audio id="E" src="/samples/piano/E.mp3"></audio>
<audio id="F" src="/samples/piano/F.mp3"></audio>
<audio id="Gb" src="/samples/piano/Gb.mp3"></audio>
<audio id="G" src="/samples/piano/G.mp3"></audio>
<audio id="Ab" src="/samples/piano/Ab.mp3"></audio>
<audio id="A" src="/samples/piano/A.mp3"></audio>
<audio id="Bb" src="/samples/piano/Bb.mp3"></audio>
<audio id="B" src="/samples/piano/B.mp3"></audio>