<section>
	<form id="create-username-form" action="/rooms" method="POST">
		<label>
			username
			<input id="username" type="text">
		</label>
		<button type="submit">See rooms</button>
	</form>
</section>